header {
   box-shadow: inset 0px 0px 20px 4px rgba(251,235,251,0.81);

   nav {
      ul {
         display: flex;
         justify-content: flex-end;
         align-items: center;

         li {
            padding: 15px;
            margin-right: 40px;
            font-size: 1.5rem;
            color: #8E4EC6;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s ease-in-out;
          
            &:hover {
               transform: scale(1.2);
            }
         }
      }
   }
}

.odd, .even {
   padding: 15px;
   color: #fff;
   font-size: 2rem;
   font-weight: 600;
}

.odd {
   background: coral;
}

.even {
   background: lightpink;
}

