<h1>On fait quoi ?</h1>

<div class="row wrapper">
  <div class="col-xs-6 col-6 col-md-5 col-lg-3 status">
    <h2>À faire</h2>
    <bs-sortable
      [(ngModel)]="todo"
      fieldName="title"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
      placeholderClass="placeholderStyle text-center"
      wrapperClass="sortable-wrapper"
      [itemTemplate]="removeTask"   
    >
  </bs-sortable>
  </div>
  <div class="col-xs-6 col-6 col-md-5 col-lg-3 status">
    <h2>En cours</h2>
    <bs-sortable
      [(ngModel)]="ongoing"
      fieldName="title"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
      placeholderClass="placeholderStyle text-center"
      wrapperClass="sortable-wrapper"
      [itemTemplate]="removeTask"   
    >
  </bs-sortable>
  </div>
  <div class="col-xs-6 col-6 col-md-5 col-lg-3 status">
    <h2>Terminé</h2>
    <bs-sortable
      [(ngModel)]="done"
      fieldName="title"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
      placeholderClass="placeholderStyle text-center"
      wrapperClass="sortable-wrapper"
      [itemTemplate]="removeTask"
    >
  </bs-sortable>
  </div>
  
  <ng-template #removeTask let-item="item" let-index="index">
    <div class="d-flex justify-content-between align-items-center">
      <div>{{ item.initData.title}}</div>
      <div type="button" class="delete-icon btn btn-danger" (click)="deleteTask(item.id)">
        <i class="bi bi-trash"></i>
      </div>
    </div>
  </ng-template>
</div>