<h1>Page projets</h1>

<button class="btn btn-primary" (click)="toggleOffcanvas(); getProjects()">Mes Projets</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="myOffCanvas" aria-labelledby="myOffCanvas">
   <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="myOffCanvas">Mes Projets</h5>
      <button type="button" class="btn-close" (click)="toggleOffcanvas()" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body">
      <h5 *ngFor="let project of projects" type="button" (click)="closeOffcanvas(); getProjectTasks(project.id)">{{ project.name }}</h5>
   </div>

   <form class="form mx-auto" #projectForm="ngForm">

   <div class="input-group mb-3">
      <span class="input-group-text" id="projectName">Nom</span>
      <input
        type="text"
        class="form-control"
        placeholder="POEC Java"
        aria-label="Nom du projet"
        aria-describedby="projectName"
        [(ngModel)]="projectName"
        name="projectName"
      />
   </div>
   <button type="button" class="btn btn-primary addProject" (click)="addProject(projectName)">Créer un nouveau projet</button>
  </form>
</div>

<!-- Partie pour l'affichage des tâches en drag and drop -->
<div class="row wrapper">
   <div class="col-xs-6 col-6 col-md-5 col-lg-3 status">
     <h2>À faire</h2>
    
     <bs-sortable
       [(ngModel)]="todo"
       fieldName="title"
       itemClass="sortable-item"
       itemActiveClass="sortable-item-active"
       placeholderItem="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
       placeholderClass="placeholderStyle text-center"
       wrapperClass="sortable-wrapper"
       [itemTemplate]="taskTemplate"   
     >
   </bs-sortable>
   </div>
   <div class="col-xs-6 col-6 col-md-5 col-lg-3 status">
     <h2>En cours</h2>
     <bs-sortable
       [(ngModel)]="ongoing"
       fieldName="title"
       itemClass="sortable-item"
       itemActiveClass="sortable-item-active"
       placeholderItem="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
       placeholderClass="placeholderStyle text-center"
       wrapperClass="sortable-wrapper"
       [itemTemplate]="taskTemplate"
     >
   </bs-sortable>
   </div>
   <div class="col-xs-6 col-6 col-md-5 col-lg-3 status">
     <h2>Terminé</h2>
     <bs-sortable
       [(ngModel)]="done"
       fieldName="title"
       itemClass="sortable-item"
       itemActiveClass="sortable-item-active"
       placeholderItem="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
       placeholderClass="placeholderStyle text-center"
       wrapperClass="sortable-wrapper"
       [itemTemplate]="taskTemplate"
     >
   </bs-sortable>
   </div>
   
   <ng-template #taskTemplate let-item="item" let-index="index">
     <div class="d-flex justify-content-between align-items-center">
       <div>{{ item.projectName }}</div>
       
       <!-- Bouton visualisation des détails de la tâche -->
       <div type="button" class="btn btn-info" (click)="getTaskDetails(item.initData.id)">
         <i class="bi bi-eye-fill taskDetail"></i>
       </div>
 
       <!-- Bouton pour modifier la tâche -->
       <div type="button" routerLink="/task/update" class="btn btn-success" (click)="redirectUpdateForm(item.initData.id)">
         <i class="bi bi-pencil-fill"></i>
       </div>
 
       <!-- Bouton pour supprimer la tâche -->
       <div type="button" class="btn btn-danger" (click)="deleteTask(item.initData.id)">
         <i class="bi bi-trash-fill"></i>
       </div>
     </div>
   </ng-template>
 
   <a routerLink="/task/add">Ajouter une tâche</a>
 </div>